%article
  .page-header.blog-title
    %h1.plain
      %a{:href => @article.permalink}= @article.title
    %small.timestamp.muted
      = @article.date.strftime("%B %d, %Y")
  = @article.body
= partial :disqus if @disqus