*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.plain a{color:inherit;text-decoration:none;}.plain a:hover{text-decoration:none;}
article{margin:20px 0;border:0;margin-bottom:84px;}article .content{font-size:17px;margin-top:15px;margin-bottom:15px;}
article .timestamp{bottom:7px;position:relative;}
article:after{display:block;content:'';width:100px;height:1px;margin:20px auto;background-color:#DDD;margin-top:84px;}
.main-content{min-height:450px !important;}
.about-the-author{padding-top:10px;}.about-the-author legend{font-size:1.2em;padding:0;margin:0;}
.about-the-author .text{line-height:1;}
.about-the-author .avatar{margin-right:10px;margin-bottom:10px;}
.about-the-author hr{margin:0 0 3px 0;padding:0;}
body{padding-left:0;padding-right:0;}
.tweet{margin-bottom:10px;}.tweet .tweet-time{float:right;font-size:11.25px;}
.tweet .tweet-text{line-height:1.4em;font-size:11.25px;}
.tweet .tweet-text:before{padding-right:5px;content:url("/img/twitter-3.png");float:left;}
.flash-messages{width:90%;}.flash-messages .alert{width:225px;}
.inline{display:inline !important;}
.container{max-width:960px;}
#footer{color:#555555;background:#dddddd;min-height:100px;margin-top:40px;padding-top:20px;padding-bottom:20px;border-top:2px solid #c4c4c4;}#footer a{color:#333333;}#footer a:hover{color:#333333;}
@media (max-width:767px){.container{padding-left:8px;padding-right:8px;}}
