/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  */

.tweet {
  margin-bottom: 10px;
}

.tweet.tweet-text,
.tweet.tweet-time  {
  font-size: 11px;
}

.tweet.tweet-text {
  line-height: 1.4em;
}

.tweet.tweet-text:before {
    padding-right: 5px;
    content: url(../img/twitter-3.png);
    float: left;
  }

.tweet.tweet-time {
  float: right;
}